/**
 * 十周年风格 - 按钮控制样式
 */

.lbtn-controls {
	--width: 80px;
	--height: 58.6px;
	left: 0;
	bottom: 15%;
	z-index: 3;
}

#arena:not(.single-handcard):not(.chess).cxy-new-ui > .lbtn-controls ~ #mebg,
#arena:not(.single-handcard):not(.chess).cxy-new-ui > .lbtn-controls ~ #me {
	left: 40px !important;
}

.lbtn-controls ~ #me #handcards1 {
	--lessw: 40px;
}

.lbtn-controls > div {
	display: block;
	position: relative;
}

/* 二级菜单 */
.HOME {
	--w: 69px;
	--h: calc(var(--w) * 446 / 81);
	width: var(--w);
	height: var(--h);
	top: 0%;
	left: calc(100% - 119px);
	background-size: 100% 100%;
	background-image: url("../../assets/lbtn/CD/HOME.png");
	z-index: 68;
	position: relative;
	transition: all 1s;
}

/* 菜单按钮 */
.SZ,
.LK,
.BJ,
.TX,
.TG {
	--w: 56px;
	--h: calc(var(--w) * 73 / 71);
	width: var(--w);
	height: var(--h);
	background-size: 100% 100%;
	z-index: 99;
	position: fixed;
}

.SZ {
	bottom: calc(100% - 373px);
	left: calc(100% - 112.5px);
	background-image: url("../../assets/lbtn/CD/SZ.png");
}

.LK {
	bottom: calc(100% - 248px);
	left: calc(100% - 112.5px);
	background-image: url("../../assets/lbtn/CD/LK.png");
}

.BJ {
	bottom: calc(100% - 310px);
	left: calc(100% - 112.5px);
	background-image: url("../../assets/lbtn/CD/BJ.png");
}

.TX {
	bottom: calc(100% - 187px);
	left: calc(100% - 112.5px);
	background-image: url("../../assets/lbtn/CD/TX.png");
}

.TG {
	bottom: calc(100% - 126px);
	left: calc(100% - 112.5px);
	background-image: url("../../assets/lbtn/CD/TG.png");
}

/* 功能按钮 */
.jiluButton {
	display: block;
	width: 80px;
	height: 58.6px;
	position: absolute;
	bottom: 14%;
	left: 0;
	background-image: url("../../assets/lbtn/button/jilu.png");
	background-size: 100% 100%;
	border-radius: 10px;
	z-index: 3;
}

.huanfuButton {
	display: block;
	width: 80px;
	height: 58.6px;
	position: absolute;
	bottom: 2%;
	left: 0;
	background-image: url("../../assets/lbtn/button/huanfu.png");
	background-size: 100% 100%;
	border-radius: 10px;
	z-index: 3;
}

/* 新版小配件 */
.jiluButton_new {
	display: block;
	--w: 79px;
	--h: calc(var(--w) * 1080 / 1626);
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 7.5%;
	left: 0;
	background-image: url("../../assets/lbtn/button/jilu_new.png");
	background-size: 100% 100%;
	border-radius: 1px;
	z-index: 4;
}

.huanfuButton_new {
	display: block;
	--w: 79px;
	--h: calc(var(--w) * 1080 / 1626);
	width: var(--w);
	height: var(--h);
	bottom: -1%;
	position: absolute;
	left: 0;
	background-image: url("../../assets/lbtn/button/huanfu_new.png");
	background-size: 100% 100%;
	border-radius: 1px;
	z-index: 3;
}

.meiguiButton_new {
	display: block;
	--w: 79px;
	--h: calc(var(--w) * 1080 / 1626);
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 15%;
	left: 0px;
	background-image: url("../../assets/lbtn/button/meigui_new.png");
	background-size: 100% 100%;
	z-index: 3;
}

.xiaolianButton_new {
	display: block;
	--w: 79px;
	--h: calc(var(--w) * 1080 / 1626);
	width: var(--w);
	height: var(--h);
	position: absolute;
	bottom: 23%;
	left: 0px;
	background-image: url("../../assets/lbtn/button/xiaolian_new.png");
	background-size: 100% 100%;
	z-index: 3;
}

.lbtn-confirm:not(.closing).removing {
	opacity: 1 !important;
}

/* 控制按钮 */
.control {
	--height: 32px;
	width: auto !important;
	background: transparent;
	box-shadow: none;
	line-height: normal;
	padding: 0;
}

.control > div {
	background-image: url("../../assets/lbtn/button/btnn2.png");
	background-size: 100% 100%;
	line-height: var(--h);
	padding: 6.4px 25px !important;
	min-width: 100px !important;
	max-height: 50px !important;
	text-align: center;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	color: #2f4f4f;
	-webkit-text-stroke: 0.4px #803b02;
	font-family: "yuanli";
	text-shadow:
		0 0 2px #ffffd5,
		0 0 2px #ffffd5;
	font-size: 25px;
}

/* 无懈按钮位置 */
#arena > #dui-controls > .control.stayleft {
	left: calc(50% - 420px) !important;
	margin-bottom: 5px !important;
	order: 3;
}

/* 取消/结束按钮 */
.control > div.primary2 {
	color: #2f4f4f;
	-webkit-text-stroke: 0.4px #803b02;
	text-shadow:
		0 0 2px #ffffd5,
		0 0 2px #ffffd5;
	font-size: 25px;
	line-height: 35px;
	padding: 2.6px 25px !important;
	margin-left: 55px !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	background-size: 100% 100%;
	background-image: url("../../assets/lbtn/button/btnn.png");
	overflow: visible;
	transition: none;
}

/* 确认按钮 */
.control > div.primary {
	color: #2f4f4f;
	-webkit-text-stroke: 0.4px #803b02;
	text-shadow:
		0 0 2px #ffffd5,
		0 0 2px #ffffd5;
	font-size: 25px;
	line-height: 35px;
	padding: 2.6px 25px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
	margin-top: 0px !important;
	margin-bottom: -15px !important;
	background-size: 100% 100%;
	background-image: url("../../assets/lbtn/button/btnn2.png");
}

.control > div.disabled:not([data-type="endButton"]) {
	background-size: 100% 100%;
	-webkit-filter: brightness(70%);
}

/* 手牌数显示 */
.handcardNumber {
	bottom: 0px;
	right: 230px;
	font-family: "yuanli";
	text-shadow:
		#f5d78e 0 0 1px,
		black 0 0 2px,
		black 0 0 2px;
	color: #f5d78e;
	z-index: 1;
}

.handcardNumber > .cardPicture {
	left: 90px;
	bottom: -6px;
	--w: 130px;
	--h: calc(var(--w) * 92 / 400);
	width: var(--w);
	height: var(--h);
	background-image: url("../../assets/lbtn/button/count1.png");
	background-size: 100% 100%;
	position: relative;
	z-index: -1;
}

.handcardNumber > .cardNumber {
	left: 138px;
	bottom: 15px;
	height: 8px;
	line-height: 25px;
	text-align: center;
	color: #fffcf5;
	font-size: 20px;
	white-space: nowrap;
	letter-spacing: 0.35px;
}

/* 牌堆数 */
.cardRoundNumber {
	top: 16px;
	left: 25px;
	font-weight: 400;
	font-family: "yuanli";
	text-shadow: #b4a993 0.2px 0.2px 0.2px;
}

.cardRoundNumber > .cardPileNumber {
	top: -15px;
	--w: 65px;
	--h: calc(var(--w) * 173 / 127);
	width: var(--w);
	height: var(--h);
	background-image: url("../../assets/lbtn/button/cardback3.png");
	background-size: 100% 100%;
	background-color: transparent;
	position: relative;
	z-index: 2;
}

.cardRoundNumber > .cardPileNumber > span {
	left: 13px;
	top: 12px;
	width: 100%;
	display: block;
	position: absolute;
	line-height: 20px;
	text-align: center;
	color: #342510;
	font-size: 15px;
	font-weight: bold;
}

.cardRoundNumber > .roundNumber,
.cardRoundNumber > .time {
	left: 10px;
	top: 24px;
	height: 20px;
	line-height: 16px;
	white-space: nowrap;
	color: #342510;
	z-index: 3;
	font-weight: bold;
}

.cardRoundNumber > .time {
	top: 48px;
	left: 14px;
	font-size: 17px;
}

/* 托管中图标 */
#autonode > div:last-child {
	z-index: 10;
	margin-bottom: -75px !important;
	left: calc(50% - 440px);
	font-size: 0px;
	text-shadow: none;
	--w: 400px;
	--h: calc(var(--w) * 149 / 598);
	width: var(--w);
	height: var(--h);
	background-image: url("../../assets/lbtn/CD/tuoguan2.png");
	background-size: 100% 100%;
	-webkit-text-fill-color: transparent;
	text-shadow: none !important;
}

/* 背景选择器 */
.bgdialog {
	position: absolute;
	background: url("../../assets/lbtn/OL_line/bg/bgdialog.png");
	background-size: 100% 100%;
	width: 70%;
	height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.backgroundsbg {
	width: 100%;
	height: 82%;
	top: 11.5%;
	left: 0.5%;
	overflow-x: hidden;
	overflow-y: auto;
}

.backgrounds {
	background-size: 100% 100%;
	left: 3.55%;
	width: 29%;
	height: 34%;
	position: relative;
	border: 2px solid #d2b48c;
	min-width: 200px;
	object-fit: cover;
	margin-left: 1%;
	margin-bottom: 1%;
	border-radius: 6px;
}

.buttontext {
	position: absolute;
	bottom: 0;
	height: 20%;
	background-color: #2e1e10;
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-family: "shousha";
	color: #efdbb6;
	text-shadow: none;
	font-size: 25px;
}

.bgback {
	width: 80px;
	height: 40px;
	top: 5%;
	right: 8%;
	background-image: url("../../assets/lbtn/OL_line/uibutton/back.png");
	background-size: 100% 100%;
	z-index: 100;
	position: absolute;
}

.bgxuanzhong {
	background: url("../../assets/lbtn/OL_line/bg/gou.png");
	background-size: 100% 100%;
	width: 45%;
	height: 60%;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
}
