/**
 * 新杀风格技能样式 - 非触屏布局
 * Xinsha style skill CSS for non-touch layout
 */

/* 技能控制区 */
.skill-control {
	max-width: 120px;
	bottom: 8px;
	right: 35px;
	z-index: 6;
}

.gskill-control {
	max-width: 120px;
	bottom: 65px;
	right: 170px;
	z-index: 6;
}

.skill-control div,
.gskill-control div {
	position: relative;
}

.skill-control > div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.gskill-control > div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.skill-control > div::after,
.gskill-control > div::after {
	content: "";
	display: block;
	clear: both;
}

.skill-control .trigger,
.skill-control .enable,
.gskill-control .trigger,
.gskill-control .enable {
	height: auto;
	width: auto;
	justify-content: flex-end;
}

/* 技能按钮 */
.skill-control > .enable > .skillitem,
.gskill-control > .enable > .skillitem {
	margin: 1px 2px;
	--w: 45px;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: 21px;
	text-align: center;
	font-family: "BKJT";
	font-weight: 500;
	font-size: 15px;
	color: #f7f5e7;
	background-image: url("../../../assets/skill/yijiang/new_btnn1.png");
	background-size: 100% 100%;
	opacity: 1;
	position: relative;
}

/* 转换技标记 */
.skill-control > .enable > .skillitem > .zhuanhuanji-mark,
.gskill-control > .enable > .skillitem > .zhuanhuanji-mark {
	position: absolute;
	left: -5px;
	top: -5px;
	--w: 18px;
	--h: 18px;
	width: var(--w);
	height: var(--h);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform-style: preserve-3d;
	pointer-events: none;
	z-index: 1;
}

.skill-control > .enable > .skillitem > .zhuanhuanji-mark.yang,
.gskill-control > .enable > .skillitem > .zhuanhuanji-mark.yang {
	background-image: url("../../../assets/skill/yijiang/new_mark_yang.png");
}

.skill-control > .enable > .skillitem > .zhuanhuanji-mark.yin,
.gskill-control > .enable > .skillitem > .zhuanhuanji-mark.yin {
	background-image: url("../../../assets/skill/yijiang/new_mark_ying.png");
}

.skill-control > .enable > .skillitem > .zhuanhuanji-mark.flipping,
.gskill-control > .enable > .skillitem > .zhuanhuanji-mark.flipping {
	animation: fanzhuan 1.5s;
}

/* 限定技按钮 */
.skill-control > .enable > .xiandingji,
.gskill-control > .enable > .xiandingji {
	margin: 1px 2px;
	--w: 45px;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: 21px;
	text-align: center;
	font-family: "BKJT";
	font-weight: 500;
	color: #f7f5e7;
	font-size: 15px;
	background-image: url("../../../assets/skill/yijiang/new_btnn4.png");
	background-size: 100% 100%;
	opacity: 1;
	position: relative;
}

/* 限定技标记 */
.skill-control > .enable > .xiandingji > .xiandingji-mark,
.gskill-control > .enable > .xiandingji > .xiandingji-mark {
	position: absolute;
	left: -5px;
	top: -5px;
	--w: 18px;
	--h: 18px;
	width: var(--w);
	height: var(--h);
	background-image: url("../../../assets/skill/yijiang/new_xiandingji.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 1;
}

.skill-control > .enable > .xiandingji.used > .xiandingji-mark,
.gskill-control > .enable > .xiandingji.used > .xiandingji-mark {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

/* 技能不可用变灰 */
.skill-control > .enable > .skillitem:not(.usable):not(.select),
.gskill-control > .enable > .skillitem:not(.usable):not(.select) {
	background-size: 100% 100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.skill-control > .enable > .xiandingji:not(.usable):not(.select),
.gskill-control > .enable > .xiandingji:not(.usable):not(.select) {
	filter: grayscale(100%);
	-webkit-filter: grayscale(90%);
}

/* 单行单技能按钮 */
.skill-control > .enable > .skillitem:last-child:nth-child(odd) {
	flex: 0 0 95px !important;
	background-image: url("../../../assets/skill/yijiang/new_btnn1.png");
	background-size: 100% 100%;
}

.skill-control > .enable > .xiandingji:last-child:nth-child(odd) {
	flex: 0 0 95px !important;
	background-image: url("../../../assets/skill/yijiang/new_btnn4.png");
	background-size: 100% 100%;
}

/* 技能发动特效 */
.skill-control > .enable > .skillitem.activated,
.skill-control > .enable > .skillcol > .skillitem.activated,
.skill-control > .enable > .xiandingji.activated,
.skill-control > .enable > .skillcol > .xiandingji.activated,
.gskill-control > .enable > .skillitem.activated,
.gskill-control > .enable > .xiandingji.activated {
	animation: skill-activate 0.6s ease-out;
}

@keyframes skill-activate {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(245, 215, 142, 0.8);
		filter: brightness(1);
	}

	30% {
		transform: scale(1.15);
		box-shadow: 0 0 15px 5px rgba(245, 215, 142, 0.9);
		filter: brightness(1.3);
	}

	60% {
		transform: scale(1.05);
		box-shadow: 0 0 25px 10px rgba(245, 215, 142, 0.4);
		filter: brightness(1.15);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(245, 215, 142, 0);
		filter: brightness(1);
	}
}

/* 限定技发动特效 */
.skill-control > .enable > .xiandingji.activated,
.skill-control > .enable > .skillcol > .xiandingji.activated,
.gskill-control > .enable > .xiandingji.activated {
	animation: skill-activate-xianding 0.8s ease-out;
}

@keyframes skill-activate-xianding {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 200, 50, 0.9);
		filter: brightness(1);
	}

	25% {
		transform: scale(1.2);
		box-shadow: 0 0 20px 8px rgba(255, 200, 50, 1);
		filter: brightness(1.4);
	}

	50% {
		transform: scale(1.1);
		box-shadow: 0 0 30px 15px rgba(255, 200, 50, 0.6);
		filter: brightness(1.2);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(255, 200, 50, 0);
		filter: brightness(1);
	}
}

/* ========== 左手模式 ========== */
.skill-controlzuoshou {
	max-width: 120px;
	bottom: 8px;
	left: 35px;
	z-index: 6;
}

.skill-controlzuoshou div {
	position: relative;
}

.skill-controlzuoshou > div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.skill-controlzuoshou > div::after {
	content: "";
	display: block;
	clear: both;
}

.skill-controlzuoshou .trigger,
.skill-controlzuoshou .enable {
	height: auto;
	width: auto;
	justify-content: flex-start;
}

/* 左手模式技能按钮 */
.skill-controlzuoshou > .enable > .skillitem {
	margin: 1px 2px;
	--w: 45px;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: 21px;
	text-align: center;
	font-family: "BKJT";
	font-weight: 500;
	font-size: 15px;
	color: #f7f5e7;
	background-image: url("../../../assets/skill/yijiang/new_btnn1.png");
	background-size: 100% 100%;
	opacity: 1;
	position: relative;
}

/* 左手模式转换技标记 */
.skill-controlzuoshou > .enable > .skillitem > .zhuanhuanji-mark {
	position: absolute;
	left: -5px;
	top: -5px;
	--w: 18px;
	--h: 18px;
	width: var(--w);
	height: var(--h);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform-style: preserve-3d;
	pointer-events: none;
	z-index: 1;
}

.skill-controlzuoshou > .enable > .skillitem > .zhuanhuanji-mark.yang {
	background-image: url("../../../assets/skill/yijiang/new_mark_yang.png");
}

.skill-controlzuoshou > .enable > .skillitem > .zhuanhuanji-mark.yin {
	background-image: url("../../../assets/skill/yijiang/new_mark_ying.png");
}

.skill-controlzuoshou > .enable > .skillitem > .zhuanhuanji-mark.flipping {
	animation: fanzhuan 1.5s;
}

/* 左手模式限定技按钮 */
.skill-controlzuoshou > .enable > .xiandingji {
	margin: 1px 2px;
	--w: 45px;
	--h: calc(var(--w) * 91 / 200);
	width: var(--w);
	height: var(--h);
	line-height: 21px;
	text-align: center;
	font-family: "BKJT";
	font-weight: 500;
	color: #f7f5e7;
	font-size: 15px;
	background-image: url("../../../assets/skill/yijiang/new_btnn4.png");
	background-size: 100% 100%;
	opacity: 1;
	position: relative;
}

/* 左手模式限定技标记 */
.skill-controlzuoshou > .enable > .xiandingji > .xiandingji-mark {
	position: absolute;
	left: -5px;
	top: -5px;
	--w: 18px;
	--h: 18px;
	width: var(--w);
	height: var(--h);
	background-image: url("../../../assets/skill/yijiang/new_xiandingji.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 1;
}

.skill-controlzuoshou > .enable > .xiandingji.used > .xiandingji-mark {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

/* 左手模式技能不可用变灰 */
.skill-controlzuoshou > .enable > .skillitem:not(.usable):not(.select) {
	background-size: 100% 100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

.skill-controlzuoshou > .enable > .xiandingji:not(.usable):not(.select) {
	filter: grayscale(100%);
	-webkit-filter: grayscale(90%);
}

/* 左手模式单行单技能按钮 */
.skill-controlzuoshou > .enable > .skillitem:last-child:nth-child(odd) {
	flex: 0 0 95px !important;
	background-image: url("../../../assets/skill/yijiang/new_btnn1.png");
	background-size: 100% 100%;
}

.skill-controlzuoshou > .enable > .xiandingji:last-child:nth-child(odd) {
	flex: 0 0 95px !important;
	background-image: url("../../../assets/skill/yijiang/new_btnn4.png");
	background-size: 100% 100%;
}

/* 左手模式技能发动特效 */
.skill-controlzuoshou > .enable > .skillitem.activated,
.skill-controlzuoshou > .enable > .skillcol > .skillitem.activated {
	animation: skill-activate 0.6s ease-out;
}

.skill-controlzuoshou > .enable > .xiandingji.activated,
.skill-controlzuoshou > .enable > .skillcol > .xiandingji.activated {
	animation: skill-activate-xianding 0.8s ease-out;
}

/* 左手模式技能选中特效 */
.skill-controlzuoshou > .enable > .skillitem.select,
.skill-controlzuoshou > .enable > .skillcol > .skillitem.select {
	animation: skill-select-glow 1.5s ease-in-out infinite;
}

.skill-controlzuoshou > .enable > .xiandingji.select,
.skill-controlzuoshou > .enable > .skillcol > .xiandingji.select {
	animation: skill-select-glow-xianding 1.5s ease-in-out infinite;
}

/* 技能选中特效 */
@keyframes skill-select-glow {
	0%,
	100% {
		filter: brightness(1.02) drop-shadow(0 0 2px rgba(100, 255, 100, 0.4));
	}

	50% {
		filter: brightness(1.12) drop-shadow(0 0 6px rgba(100, 255, 100, 0.85));
	}
}

@keyframes skill-select-glow-xianding {
	0%,
	100% {
		filter: brightness(1.02) drop-shadow(0 0 2px rgba(255, 80, 80, 0.4));
	}

	50% {
		filter: brightness(1.12) drop-shadow(0 0 6px rgba(255, 80, 80, 0.85));
	}
}

.skill-control > .enable > .skillitem.select,
.skill-control > .enable > .skillcol > .skillitem.select,
.gskill-control > .enable > .skillitem.select {
	animation: skill-select-glow 1.5s ease-in-out infinite;
}

.skill-control > .enable > .xiandingji.select,
.skill-control > .enable > .skillcol > .xiandingji.select,
.gskill-control > .enable > .xiandingji.select {
	animation: skill-select-glow-xianding 1.5s ease-in-out infinite;
}

/* 技能标记区 */
.skillMarks {
	overflow: visible;
	left: 128px !important;
	top: 0px !important;
	z-index: 90 !important;
	justify-content: center;
	align-items: center;
}

.skillMarks > .skillMarkItem {
	--h: 19px;
	width: 28.5px !important;
	height: 28.5px !important;
	right: 0px;
	line-height: -10px;
	text-align: center;
	display: block;
	position: relative;
	border-radius: 50%;
}

/* 限定技标记 */
.skillMarkItem.xiandingji {
	background-image: url("../../../assets/skill/yijiang/new_xiandingji.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 30px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w);
	height: var(--h);
}

.skillMarkItem.xiandingji.used {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

.skillMarkItem + .skillMarkItem {
	margin-top: -6.5px;
}

/* 觉醒技标记 */
.skillMarkItem.juexingji {
	background-image: url("../../../assets/skill/yijiang/new_juexingji.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 30px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w);
	height: var(--h);
}

/* 转换技标记 */
.skillMarkItem.zhuanhuanji {
	--w: 30px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w);
	height: var(--h);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transform-style: preserve-3d;
	transform: rotateY(360deg);
	background-image: url("../../../assets/skill/yijiang/new_mark_yang.png");
}

.skillMarkItem.zhuanhuanji.yang {
	background-image: url("../../../assets/skill/yijiang/new_mark_yang.png");
	animation: fanzhuan 1.5s;
}

.skillMarkItem.zhuanhuanji.yin {
	background-image: url("../../../assets/skill/yijiang/new_mark_ying.png");
	animation: fanzhuan 1.5s;
}

@keyframes fanzhuan {
	0% {
		transform: rotateY(0deg) scale(1.2);
	}

	50% {
		transform: rotateY(180deg) scale(1.2);
	}

	100% {
		transform: rotateY(0deg) scale(1);
	}
}

/* 使命技标记 */
.skillMarkItem.duty {
	background-image: url("../../../assets/skill/yijiang/new_mark_duty.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.skillMarkItem.duty.fail {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}

/* 法箓标记 */
.skillMarkItem.xinfu-falu-spade {
	background-image: url("../../../assets/skill/yijiang/falu_spade.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.xinfu-falu-heart {
	background-image: url("../../../assets/skill/yijiang/falu_heart.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.xinfu-falu-club {
	background-image: url("../../../assets/skill/yijiang/falu_club.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.xinfu-falu-diamond {
	background-image: url("../../../assets/skill/yijiang/falu_diamond.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

/* 残蚀标记 */
.skillMarkItem.starcanxi-qun {
	background-image: url("../../../assets/skill/yijiang/starcanxi_qun.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.starcanxi-shu {
	background-image: url("../../../assets/skill/yijiang/starcanxi_shu.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.starcanxi-wei {
	background-image: url("../../../assets/skill/yijiang/starcanxi_wei.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.starcanxi-wu {
	background-image: url("../../../assets/skill/yijiang/starcanxi_wu.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.starcanxi-jin {
	background-image: url("../../../assets/skill/yijiang/starcanxi_jin.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}

.skillMarkItem.starcanxi-shen {
	background-image: url("../../../assets/skill/yijiang/starcanxi_shen.png");
	background-size: 100% 100%;
	text-shadow: none;
	--w: 25px;
	--h: calc(var(--w) * 1 / 1);
	width: var(--w) !important;
	height: var(--h) !important;
	margin-top: 1px !important;
}
