/**
 * 宝宝杀样式样式
 */

/* 菜单背景图 */
.yemian {
	background-image: url("../../assets/lbtn/baby/yemian.png");
}

.shezhi {
	background-image: url("../../assets/lbtn/baby/shezhi.png");
}
.tuichu {
	background-image: url("../../assets/lbtn/baby/tuichu.png");
}
.taopao {
	background-image: url("../../assets/lbtn/baby/taopao.png");
}
.touxiang {
	background-image: url("../../assets/lbtn/baby/touxiang.png");
}
.tuoguan {
	background-image: url("../../assets/lbtn/baby/tuoguan.png");
}

/* 武将详情弹窗 */
.character-dialog {
	background-image: url("../../assets/character/baby/dialog5.png");
}

/* 技能图标 */
.skillMarkItem.xiandingji {
	background-image: url("../../assets/skill/baby/xiandingji.png");
}

.skillMarkItem.juexingji {
	background-image: url("../../assets/skill/baby/juexingji.png");
}
