/**
 * 代号样式样式
 */

/* 菜单背景图 */
.yemian {
	background-image: url("../../assets/lbtn/codename/yemian.png");
}

.shezhi {
	background-image: url("../../assets/lbtn/codename/shezhi.png");
}
.tuichu {
	background-image: url("../../assets/lbtn/codename/tuichu.png");
}
.taopao {
	background-image: url("../../assets/lbtn/codename/taopao.png");
}
.touxiang {
	background-image: url("../../assets/lbtn/codename/touxiang.png");
}
.tuoguan {
	background-image: url("../../assets/lbtn/codename/tuoguan.png");
}

/* 武将详情弹窗 */
.character-dialog {
	background-image: url("../../assets/character/codename/dialog.png");
}

/* 技能图标 */
.skillMarkItem.xiandingji {
	background-image: url("../../assets/skill/codename/xiandingji.png");
}

.skillMarkItem.juexingji {
	background-image: url("../../assets/skill/codename/juexingji.png");
}
