/**
 * OL样式样式
 */

/* 菜单背景图 */
.yemian {
	background-image: url("../../assets/lbtn/online/yemian.png");
}

.shezhi {
	background-image: url("../../assets/lbtn/online/shezhi.png");
}
.tuichu {
	background-image: url("../../assets/lbtn/online/tuichu.png");
}
.taopao {
	background-image: url("../../assets/lbtn/online/taopao.png");
}
.touxiang {
	background-image: url("../../assets/lbtn/online/touxiang.png");
}
.tuoguan {
	background-image: url("../../assets/lbtn/online/tuoguan.png");
}

/* 武将详情弹窗 */
.character-dialog {
	background-image: url("../../assets/character/online/dialog4.png");
}

/* 技能图标 */
.skillMarkItem.xiandingji {
	background-image: url("../../assets/skill/online/xiandingji.png");
}

.skillMarkItem.juexingji {
	background-image: url("../../assets/skill/online/juexingji.png");
}
