/**
 * 十周年样式样式
 */

/* 菜单背景图 */
.yemian {
	background-image: url("../../assets/lbtn/shizhounian/yemian.png");
}

.shezhi {
	background-image: url("../../assets/lbtn/shizhounian/shezhi.png");
}
.tuichu {
	background-image: url("../../assets/lbtn/shizhounian/tuichu.png");
}
.taopao {
	background-image: url("../../assets/lbtn/shizhounian/taopao.png");
}
.touxiang {
	background-image: url("../../assets/lbtn/shizhounian/touxiang.png");
}
.tuoguan {
	background-image: url("../../assets/lbtn/shizhounian/tuoguan.png");
}

/* 武将详情弹窗 */
.character-dialog {
	background-image: url("../../assets/character/shizhounian/dialog.png");
}

/* 技能图标 */
.skillMarkItem.xiandingji {
	background-image: url("../../assets/skill/shizhounian/xiandingji.png");
}

.skillMarkItem.juexingji {
	background-image: url("../../assets/skill/shizhounian/juexingji.png");
}
