/**
 * 手杀样式样式
 */

/* 菜单背景图 */
.yemian {
	background-image: url("../../assets/lbtn/shousha/yemian.png");
}

.shezhi {
	background-image: url("../../assets/lbtn/shousha/shezhi.png");
}
.tuichu {
	background-image: url("../../assets/lbtn/shousha/tuichu.png");
}
.taopao {
	background-image: url("../../assets/lbtn/shousha/taopao.png");
}
.touxiang {
	background-image: url("../../assets/lbtn/shousha/touxiang.png");
}
.tuoguan {
	background-image: url("../../assets/lbtn/shousha/tuoguan.png");
}

/* 官阶背景 */
.character-dialog .offical-bg {
	background-image: url("../../assets/character/shousha/pub_red_bg1.png");
}

/* 技能图标 */
.skillMarkItem.xiandingji {
	background-image: url("../../assets/skill/shousha/xiandingji.png");
}

.skillMarkItem.juexingji {
	background-image: url("../../assets/skill/shousha/juexingji.png");
}
