/**
 * 新杀样式样式
 */

/* 菜单背景图 */
.yemian {
	background-image: url("../../assets/lbtn/xinsha/yemian.png");
}

.shezhi {
	background-image: url("../../assets/lbtn/xinsha/shezhi.png");
}
.tuichu {
	background-image: url("../../assets/lbtn/xinsha/tuichu.png");
}
.taopao {
	background-image: url("../../assets/lbtn/xinsha/taopao.png");
}
.touxiang {
	background-image: url("../../assets/lbtn/xinsha/touxiang.png");
}
.tuoguan {
	background-image: url("../../assets/lbtn/xinsha/tuoguan.png");
}

/* 武将详情弹窗 */
.character-dialog {
	background-image: url("../../assets/character/xinsha/dialog3.png");
}

/* 技能图标 */
.skillMarkItem.xiandingji {
	background-image: url("../../assets/skill/xinsha/xiandingji.png");
}

.skillMarkItem.juexingji {
	background-image: url("../../assets/skill/xinsha/juexingji.png");
}
